ion-label {
    font-size: x-small
}

ion-tab-bar {
    background: url("/assets/images/tile-metal.png");
    background-size: cover;
    background-repeat: no-repeat;
}

ion-tab-button {
    background-color: #ffffff00;
}