<ion-tabs>
    <ion-tab-bar id="tabar" slot="top">
        <!--         <ion-tab-button style="background: #ffffff00;" tab="notifications">
            <ion-icon color="maingreen" name="notifications-outline"></ion-icon>
            <ion-label color="maingreen">Notifications</ion-label>
        </ion-tab-button> -->

        <ion-tab-button style="background: #ffffff00;" tab="messages">
            <ion-icon color="maingreen" name="chatbox-ellipses-outline"></ion-icon>
            <ion-label color="maingreen">Messages</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>