<ion-header>
    <ion-toolbar color="maingreen">
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>
        <ion-title style="color: white;font-family: fantasy;">Terms & Conditions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="background-content">
        <div class="ion-padding ion-text-justify">
            <ion-label>
                Welcome to the app of WINWITHSPORTS.NET (hereinafter, the “app”) and thank you, the visitor (“You”) for reviewing our Terms and Conditions of Use. We hope that You will enjoy this app. WINWITHSPORTS.NET makes this app, including all information, documents,
                communications, files, text, graphics, software, and audio/visual files (collectively, the “Service”) available for Your use but only subject to the Terms and Conditions of Use set forth below. The Terms and Conditions of Use spell out
                what You can expect from us and what we expect from You.
            </ion-label>
            <h3>
                1. Acceptance of Terms and Conditions of Use.
            </h3>
            <ion-label>
                BY USING THIS APP AND/OR CREATING AN ACCOUNT OR ACCESSING OR VIEWING OUR SERVICE, YOU ACCEPT AND AGREE TO ALL TERMS, CONDITIONS AND NOTICES CONTAINED OR REFERENCED ON THE APP (HEREINAFTER, THE “TERMS AND CONDITIONS OF USE”). PLEASE READ THESE TERMS AND
                CONDITIONS OF USE CAREFULLY. IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF USE, DO NOT USE THIS APP OR ANY SERVICE FROM THE APP. BY ACCESSING, USING, OR DOWNLOADING IN ANY WAY, WITHOUT LIMITATION, ANY SERVICE FROM THIS APP, OR MERELY
                BROWSING THIS APP, YOU AGREE TO AND ARE BOUND BY THESE TERMS AND CONDITIONS OF USE.
            </ion-label>
            <p>
                YOU AGREE THAT ANY USE OF THE SERVICE BY YOU IS FOR NEWS, INFORMATIONAL AND ENTERTAINMENT PURPOSES ONLY AND ANY USE OF THE SERVICE IN VIOLATION OF ANY FEDERAL, STATE OR LOCAL LAWS IS PROHIBITED AND YOU HOLD WINWITHSPORTS.NET. AND ITS SERVICE PROVIDER
                HARMLESS FROM ANY LIABILITY ARISING FROM YOUR PROHIBITED USE OF THE SERVICE.
            </p>
            <p>
                WINWITHSPORTS.NET reserves the right to change the Terms and Conditions of Use at any time, without prior notice to any APP visitor. For this reason, we encourage You to review these Terms and Conditions of Use whenever You use our APP. If You breach
                any of the Terms and Conditions of Use, your authorization to use this APP automatically terminates without any further notice to You.
            </p>
            <h3>
                2. Eligibility.
            </h3>
            <ion-label>
                To be eligible to register and create an authorized account (“Account”), You must be at least the age of majority in the applicable jurisdiction. By using this App and Service, You represent and/or warrant that You have the right, authority and capacity
                to enter into this agreement and to abide by all of these Terms and Conditions of Use. WINWITHSPORTS.NET reserves the right, in its sole and absolute discretion, to refuse Service and access to any visitor.
            </ion-label>
            <h3>
                3. Local Laws, Service Not Available in Some Jurisdictions.
            </h3>
            <ion-label>
                You are subject to the laws of the country, state, province, city or other legal entity (collectively “Jurisdiction”) in which You reside and/or from which You access the App and the Service. Access to the App may not be legal for some or all residents
                of, or persons present in, certain Jurisdictions. Additionally, different Jurisdictions have different age of majority restrictions. It is Your responsibility to determine the law that applies in the applicable Jurisdiction and WINWITHSPORTS.NET
                does not make any representation or warranty, express or implied, as to the lawfulness of Your participation in or use of Service on this App are appropriate for use in Your Jurisdiction. If You open an account and/or participate in or
                access the Service offered on the App or simply browse the App while located in a prohibited Jurisdiction, You will be in violation of the law of such Jurisdiction and these Terms and Conditions of Use, and you will be subject to having
                Your Account or Your future use of the App suspended or terminated.
            </ion-label>
            <h3>
                4. Account Responsibility.
            </h3>
            <h4>
                A. Account Responsibility.
            </h4>
            <ion-label>
                When you create Your Account or purchase any products or services from this site, You represent that You are at least twenty-one (21) years of age and are not a person barred from receiving services under the laws of the United States or the age of majority
                in any other applicable Jurisdiction. You agree to (a) provide true, accurate, current and complete information about yourself as prompted by the Service’s order form (the “Order Data”) and (b) maintain and promptly update the Order Data
                to keep it true, accurate, current and complete. If You provide any information that is untrue, inaccurate, not current or incomplete, or WINWITHSPORTS.NET has reasonable grounds to suspect that such information is untrue, inaccurate,
                not current or incomplete, WINWITHSPORTS.NET has the right to suspend or terminate Your Account and refuse any and all current or future use of the Service (or any portion thereof). You are responsible for paying all fees and charges (plus
                applicable taxes) associated with the use of the Service under Your Account, including fees or charges incurred for premium features or options and payment for purchases made through the Service.
            </ion-label>
            <h4>
                B. Secrecy Obligation.
            </h4>
            <ion-label>
                If you are given confidential information or identifiers for Your Account (“Identifiers”), it is Your responsibility to keep these Identifiers secure and confidential. Some or all of these Identifiers are required to access certain information. In the
                event that You are concerned that Your Identifiers are no longer secure and confidential, You should immediately notify WINWITHSPORTS.NET by sending an e-mail to SUPPORT@WINWITHSPORTS.NET, whereupon new Identifiers may be selected and
                allocated and any future transactions under the previous Identifiers may be voided, at the sole discretion of WINWITHSPORTS.NET Without limiting the foregoing, any transactions made and accepted on the App where Your Identifiers have been
                used (and where You have not previously notified WINWITHSPORTS.NET as provided herein) will be treated as valid.
            </ion-label>
            <h4>
                C. No Transfer.
            </h4>
            <ion-label>
                Under no circumstances shall You allow or permit any other person or third party, including without limitation any person under the legal age to use the Service in Your applicable Jurisdiction, and in no event any person under the age of majority, to
                use or re-use Your Account or Your Identifiers in such a way that may breach the standards or laws in any Jurisdiction where You are located and/or are a resident, or where such other person is located and/or is a resident. Any person
                found to have violated this section may be reported to the relevant authorities.
            </ion-label>
            <h3>
                5. Price and Payment.
            </h3>
            <ion-label>
                You are responsible for paying all fees and charges associated with the use of the Service under Your Account. Unless otherwise stated, (i) payment of all fees and charges must be made by a valid, approved credit, debit or charge card at the time of purchase;
                and (ii) all fees and charges (including subscription fees) are non-refundable. You agree that any purchases made by You via credit card are specifically authorized to be charged to the credit card given by You at the time of purchase.
            </ion-label>
            <h3>
                6. Intellectual Property Rights.
            </h3>
            <h4>
                A. Copyright Information and Personal & Non-Commercial Use Limitation.
            </h4>
            <ion-label>
                All Service and the compilation of all content included on this App that are owned or licensed by WINWITHSPORTS.NET are protected by United States and international copyright laws.
            </ion-label>
            <p>
                WINWITHSPORTS.NET does not claim ownership of copyrights owned by third parties that may appear on this App.
            </p>
            <p>
                You have been granted a limited license to view and use the Service subject to these Terms and Conditions of Use. Unless otherwise specified, the Service on this App is for Your personal and non-commercial use. You may not sell or modify the Service or
                reproduce, display publicly or otherwise use the Service in any way for any public or commercial purpose. Permission to reprint or electronically reproduce any document or graphic, in whole or in part, for any other purpose is expressly
                prohibited without prior written consent from WINWITHSPORTS.NET. Users may not provide copyrighted or other proprietary information to WINWITHSPORTS.NET without permission from the owner of such material or rights. Users are solely responsible
                for obtaining such permission and for any damages resulting from unauthorized disclosures or infringement.</p>
            <h4>
                B. Trademarks.
            </h4>
            <ion-label>
                WINWITHSPORTS.NET owns trademarks and service marks for its many goods and services and all of its App and the content therein, and the associated graphics, logos and service marks that are trademarks of WINWITHSPORTS.NET may not be used without prior
                written consent of respective owners. All other trademarks, product names, and company names and logos appearing on the App are the property of their respective owners.
            </ion-label>
            <h4>
                C. Ideas and Inventions.
            </h4>
            <ion-label>
                All comments, feedback, suggestions, ideas, and other submissions (“Ideas”) disclosed, submitted, or offered to WINWITHSPORTS.NETin connection with Your use of this App shall be the exclusive property of WINWITHSPORTS.NET. User agrees that unless otherwise
                prohibited by law WINWITHSPORTS.NET may use, sell, exploit and disclose the Ideas in any manner, without restriction and without compensation to User.
            </ion-label>
            <h4>
                D. Software Use.
            </h4>
            <ion-label>
                Any software downloaded, or embedded in the Site or installed is made available to You pursuant to the same terms as set forth herein.
            </ion-label>
            <h3>
                7. Privacy and Protection of Personal Information.
            </h3>
            <ion-label>
                WINWITHSPORTS.NET respects the privacy of visitors to our App. Please see WINWITHSPORTS.NET’s Privacy Policy (which is accessible from the home page of this App) relating to the collection and use of Your information. User acknowledges and agrees that
                this Privacy Policy, including, but not limited to, the manner in which WINWITHSPORTS.NET collects, uses and discloses User’s personally identifiable information, is incorporated and made a fundamental part of these Terms and Conditions
                of Use. If User does not agree to each and every part of WINWITHSPORTS.NET’s Privacy Policy, then User should not use the App or submit any personally identifiable information through this App. Questions regarding privacy issues should
                be directed to SUPPPRT@WINWITHSPORTS.NET as set forth in our Privacy Policy.
            </ion-label>
            <h3>
                8. Disclaimer of Warranties and Limitation of Liability.
            </h3>
            <ion-label>
                User expressly agrees that use of the App and Service is at User’s sole risk. Neither WINWITHSPORTS.NET nor any of its officers, directors, or employees, agents, service providers, merchants, sponsors, licensor, component suppliers (both hardware and
                software), and/or any third party who provides products or services purchased from or distributed by WINWITHSPORTS.NET or the like, warrant that Apps affiliated with WINWITHSPORTS.NET, including but not limited to this App, will be uninterrupted,
                error-free, or free of viruses, worms, Trojan horses, keyboard loggers, spyware, adware, malware, harmful or malicious code, or other defects. The information, products and services published on this App may contain inaccuracies or typographical
                errors. WINWITHSPORTS.NET makes no warranty as to the results that may be obtained from the use of the App or as to the accuracy, reliability, or currency of any information content, Service, or merchandise provided through the App. Furthermore,
                WINWITHSPORTS.NET shall not be responsible for any opinions, views, advice or statements posted on the App (including, without limitation, in any public posting areas of the App) by any person or entity. At no time should the opinions,
                views, advice or statements provided by advertisers, content providers, guests, independent writers or experts be relied upon for important personal decisions without independent verification. WINWITHSPORTS.NET is not responsible for any
                decisions made, financial or otherwise, based on information or links provided by WINWITHSPORTS.NET.
            </ion-label>
            <p>
                The information available on the App is for news, informational and entertainment use only. Any use of the information provided in the App which is in violation of any federal, state, provincial or local law is strictly prohibited. WINWITHSPORTS.NET expressly
                does not take any responsibility for how You make use of the information provided in the App.
            </p>
            <p>
                Information on this App may be provided by third parties. Such third parties are independent contractors to WINWITHSPORTS.NET and are therefore responsible for their own marketing information, specks information and, therefore, WINWITHSPORTS.NET is expressly
                NOT liable for any inaccuracies or any misrepresentations which may be continued therein.
            </p>
            <p>
                The opinion, editorials and any other information provided on the App by the above-noted independent contractors are not necessarily these of WINWITHSPORTS.NET.
            </p>
            <h4>
                A. Disclaimer of Warranties.
            </h4>
            <p>
                WE DO NOT WARRANT OR GUARANTEE ANY RESULT FROM THE USE OF THIS APP OR ANY SERVICE.
            </p>
            <ion-label>
                THIS APP, INCLUDING THE SERVICE AND SOFTWARE (IF ANY), IS PROVIDED BY WINWITHSPORTS.NET ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, WINWITHSPORTS.NET DISCLAIMS ALL IMPLIED WARRANTIES, INCLUDING BUT NOT
                LIMITED TO, IMPLIED AND STATUTORY WARRANTIES OF MERCHANTIBILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS. WINWITHSPORTS.NET AND ITS SERVICE PROVIDER MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND,
                EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE APP, SECURITY OF THE APP, THE AVAILABILITY OF ANY GOODS OR SERVICES OFFERED ON OR THROUGH THE APP, INCLUDING E-MAIL, OR THE INFORMATION, CONTENT, MATERIALS OR PRODUCTS, INCLUDED ON THIS APP.
                ANY SERVICE OR SOFTWARE DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE APP IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM
                THE DOWNLOAD AND/INSTALLATION OF ANY SUCH MATERIAL. SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. A SMALL PERCENTAGE OF USERS MAY EXPERIENCE EPILEPTIC
                SEIZURES WHEN EXPOSED TO CERTAIN LIGHT PATTERNS OR BACKGROUNDS ON A COMPUTER SCREEN OR WHILE USING THE SERVICE. CERTAIN CONDITIONS MAY INDUCE PREVIOUSLY UNDETECTED EPILEPTIC SYMPTOMS EVEN IN USERS WHO HAVE NO HISTORY OF PRIOR SEIZURES
                OR EPILEPSY. IF YOU, OR ANYONE IN YOUR FAMILY, HAVE AN EPILEPTIC CONDITION, CONSULT YOUR PHYSICIAN PRIOR TO USING THE SERVICE. IMMEDIATELY DISCONTINUE USE OF THE SERVICE AND CONSULT YOUR PHYSICIAN IF YOU EXPERIENCE ANY OF THE FOLLOWING
                SYMPTOMS WHILE USING THE SERVICE: DIZZINESS, ALTERED VISION, EYE OR MUSCLE TWITCHES, LOSS OF AWARENESS, DISORIENTATION, ANY INVOLUNTARY MOVEMENT, OR CONVULSIONS.
            </ion-label>
            <h4>
                B. Limitation of Liability.
            </h4>
            <ion-label>
                WINWITHSPORTS.NET AND ITS SERVICE PROVIDER DO NOT GUARANTEE THE CONTINUOUS, UNINTERRUPTED OR SECURE ACCESS TO THE APP OR ANY RELATED SERVICES. THE OPERATION OF THE APP MAY BE INTERFERED WITH BY NUMEROUS FACTORS OUTSIDE THE CONTROL OF WINWITHSPORTS.NET
                AND ITS SERVICE PROVIDER. YOU EXPRESSLY UNDERSTAND AND AGREE THAT WINWITHSPORTS.NET AND ITS SERVICE PROVIDER WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF OR INABILITY TO USE THIS APP, SOFTWARE (IF ANY), OR ANY
                RELATED SERVICES, INCLUDING, BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, AND PUNITIVE DAMAGES WHETHER SUCH CLAIM IS BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE (EVEN IF
                WINWITHSPORTS.NET HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES). THE LIMITATION OF THIS PARAGRAPH SHALL APPLY NOTWITHSTANDING ANY RELIANCE BY A USER ON ANY INFORMATION OBTAINED FROM THIS APP OR THAT RESULT FROM MISTAKES, OMISSIONS,
                INTERRUPTIONS, DELETION OF FILES OR E-MAIL, ERRORS, DEFECTS, VIRUSES OR OTHER MALICIOUS CODE, DELAYS IN OPERATION OR TRANSMISSION, OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT,
                DESTRUCTION, OR UNAUTHORIZED ACCESS TO WINWITHSPORTS.NET. RECORDS, PROGRAMS, OR SERVICES, AND WHETHER OR NOT WINWITHSPORTS.NET HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. USER HEREBY ACKNOWLEDGES THAT THIS PARAGRAPH SHALL APPLY
                TO ALL CONTENT, MERCHANDISE, AND SERVICES AVAILABLE THROUGH THE APP. SUCH LIMITATION OF LIABILITY SHALL APPLY WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF AND RELIANCE ON WINWITHSPORTS.NET S GOODS OR SERVICES, FROM INABILITY TO USE
                WINWITHSPORTS.NET GOODS OR SERVICES, OR FROM THE INTERRUPTION, SUSPENSION, OR TERMINATION OF WINWITHSPORTS.NET ‘S SERVICES (INCLUDING SUCH DAMAGES INCURRED BY THIRD PARTIES). SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION
                OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE APP, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE YOUR
                USE OF THIS APP.
            </ion-label>
            <h3>
                9. Third Party Links.
            </h3>
            <ion-label>
                This App may contain links to other Apps and may forward Users to other Apps within the same Internet browser window. These Apps are not under the control of WINWITHSPORTS.NET, and the existence of a link on the App does not imply any endorsement of the
                linked Apps by WINWITHSPORTS.NET or any affiliation between WINWITHSPORTS.NET and the owners of the linked Apps. WINWITHSPORTS.NET and its service provider makes no warranties or representations, and disclaims all liability, relating to
                the accuracy, content, terms of use, privacy policies, products, services, legality, reliability, viewpoint, accuracy, currency, decency, or any other aspect of the linked Apps. You agree that WINWITHSPORTS.NET and its service provider
                have no responsibility to You with respect to such material. WINWITHSPORTS.NET encourages You to examine the privacy policies and/or terms of use policies of any third party App.
            </ion-label>
            <h3>
                10. Online Conduct.
            </h3>
            <ion-label>
                User agrees to use the App and the Services provided through this App only for lawful purposes. Unacceptable uses of the App include without limitation: (i) engaging in any illegal activity or the planning of any illegal activity; (ii) disseminating or
                transmitting statements or material that, to a reasonable person, may be abusive, obscene, hateful, pornographic, defamatory, harassing, grossly offensive, vulgar, threatening or malicious; (iii) creating, disseminating or transmitting
                files, graphics, software or other material that actually or potentially infringes the copyright, trademark, patent, trade secret, publicity or other intellectual property rights of any person; (iv) creating a false identity or otherwise
                attempting to mislead any person as to the identity or origin of any communication; (v) exporting, re-exporting or permitting the downloading of any Service, software or content in violation of any export or import law, regulation or restriction
                of the United States or Canada and their agencies or authorities, or without all required approvals, licenses or exemptions; (vi) interfering, disrupting or attempting to gain unauthorized access to other Accounts on the App or any other
                computer network; (vii) disseminating or transmitting viruses, worms, Trojan horses, Remote Access Trojans (RATs), keyboard loggers, time bombs, spyware, adware, cancelbots or any other malicious or invasive code or program; or (viii)
                engaging in any other activity deemed by WINWITHSPORTS.NET to be in conflict with the spirit or intent of this App.

            </ion-label>
            <h3>
                11. Circumvention.
            </h3>
            <ion-label>
                User acknowledges and agrees that User shall not circumvent or attempt to circumvent any of these Terms and Conditions of Use, the Service offered through this App or otherwise interrupt or attempt to interrupt the operations of the App (collectively,
                a “Circumvention Act”). If WINWITHSPORTS.NET or its service provider determines, in its sole discretion, that User has engaged, or attempted to engage, in any Circumvention Act, use automated technology or otherwise commit fraud with regard
                to the App, then, in such an event, User will be subject to suspension or termination of User’s access to the App and/or Service, and WINWITHSPORTS.NET and its service provider reserves the right to institute civil or criminal proceedings
                against User and to report User to the relevant regulatory authorities.

            </ion-label>
            <h3>
                12. Termination.
            </h3>
            <ion-label>
                These Terms and Conditions of Use are effective until terminated by either party. User may terminate these terms at any time by discontinuing use of the App. User’s access to the App may be terminated immediately without notice from WINWITHSPORTS.NET
                if in our sole discretion User fails to comply with any term or provision of these Terms and Conditions of Use.
            </ion-label>
            <h3>
                13. Security.
            </h3>
            <ion-label>
                If You use this App, You are responsible for restricting access to Your computer and ensuring that Your computer is free from all types of malicious code, spyware, viruses, Trojans, etc. that may track any data You enter via this App, including e-mail
                address, credit card number, and other payment related information. In addition, (and if applicable) You are responsible for maintaining the confidentiality of Your WINWITHSPORTS.NET account (“Account”) and password and for restricting
                access to Your computer, and You agree to accept responsibility for all activities that occur under Your Account or password. You agree to (a) immediately notify WINWITHSPORTS.NET of any unauthorized use of Your password or Account or
                and other breach of security, and (b) ensure that You exit from Your Account at the end of each session. WINWITHSPORTS.NET cannot and will not be held liable for any loss or damage arising from Your failure to comply with this section.
            </ion-label>
            <p>
                WINWITHSPORTS.NET and its service provider each reserves the right to monitor all network traffic to this App to identify and/or block unauthorized attempts or intrusions to upload or change information or cause damage to this App in any fashion. Anyone
                using this App expressly consents to such monitoring.
            </p>
            <h3>
                14. Indemnification.
            </h3>
            <ion-label>
                You agree to defend, indemnify and hold harmless WINWITHSPORTS.NET and its subsidiaries, agents, managers, service providers, licensors, content providers and other affiliated companies, and their employees, contractors, agents, officers and directors
                from and against all liabilities, actions, claims and expenses, including legal fees arising out of or relating to: (a) Your use of the App or the Service, including any data or work transmitted or received by You or any service provider;
                (b) any other party’s access and use of the App or the Service with Your unique Identifiers; (c) Your connection to WINWITHSPORTS.NET’s site; (d) Your violation of these Terms and Conditions of Use; (e) Your violation of any sports betting
                regulations, edicts or laws to which You are subject; or (f) Your violation of any rights of a third party or service provider.
            </ion-label>
            <h3>
                15. Arbitration.
            </h3>
            <ion-label>
                Any dispute relating in any way to Your visit to App shall be submitted to confidential arbitration except that, to the extent You have in any manner violated or threatened to violate WINWITHSPORTS.NET ‘s intellectual property rights, WINWITHSPORTS.NET
                may seek injunctive, equitable, or other appropriate relief in any state, provincial or federal court and the User consents to exclusive jurisdiction and venue in the states and federal courts in the State of New York. You and WINWITHSPORTS.NET
                agree that any Dispute between You and WINWITHSPORTS.NET shall be resolved exclusively and finally by arbitration, using interpretations under New York law, and conducted under its rules, except as otherwise provided below. The arbitration
                will be conducted before a single arbitrator, and will be limited solely to the Dispute between You and WINWITHSPORTS.NET. The arbitrator’s award, including attorneys’ fees, shall be binding and may be entered as a judgment in any court
                of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under these Terms and Conditions of Use, or Privacy Policy shall be joined to an arbitration involving any other party subject to these Terms
                and Conditions of Use, or Privacy Policy whether through class arbitration proceedings or otherwise. You understand that, in the absence of this provision, You would have had a right to litigate disputes through a court, including the
                right to litigate claims on a class-wide or class action basis, and that You have expressly and knowingly waived those rights and agreed to resolve any Disputes through binding arbitration in accordance with the provisions of this paragraph.
                This arbitration provision shall be governed by the US Federal Arbitration Act, 9 U.S.C. .5.5 1, et seq. For the purposes of this provision, the term “Dispute” means any dispute, controversy, or claim arising out of or relating to: (i)
                this Terms and Conditions of Use or Privacy Policy, its interpretation, or the breach, termination, applicability or validity thereof; (ii) the related order for, purchase, delivery, receipt or use of any product or service from WINWITHSPORTS.NET;
                or iii) any other dispute arising out of or relating to the relationship between You and the WINWITHSPORTS.NET.
            </ion-label>
            <h3>
                16. Applicable Law/Jurisdiction.
            </h3>
            <ion-label>
                By visiting the App, even if accessed from a location outside the United States, You agree that the laws of the State of New York will govern these disclaimers, Terms and Conditions of Use, Privacy Policy, or Software Terms, without giving effect to any
                principles of conflicts of laws. WINWITHSPORTS.NET reserves the right to make changes to its App and these disclaimers, Terms and Conditions of Use, Privacy Policy, and Software Terms at any time. User hereby irrevocably and unconditionally
                consents to jurisdiction in the State of New York.
            </ion-label>
            <h3>
                17. Waiver/Severability.
            </h3>
            <ion-label>
                The failure of WINWITHSPORTS.NET to require or enforce strict performance by User of any provision of these Terms and Conditions of Use or to exercise any right under them shall not be construed as a waiver or relinquishment of WINWITHSPORTS.NET’s right
                to assert or rely upon any such provision or right in that or any other instance.
            </ion-label>
            <p>
                The provisions of these Terms and Conditions of Use are intended to be severable. If for any reason any provision of these Terms and Conditions of Use shall be held invalid or unenforceable in whole or in part by any court of competent jurisdiction, such
                provision shall, as to such jurisdiction, be ineffective to the extent of such determination of invalidity or unenforceability without affecting the validity or enforceability thereof in any other manner or jurisdiction and without affecting
                the remaining provisions of the Terms and Conditions of Use, which shall continue to be in full force and effect.
            </p>
            <h3>
                18. Statute of Limitations.
            </h3>
            <ion-label>
                You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the App, Terms and Conditions of Use, or Privacy Policy must be filed within ONE (1) YEAR after such claim or cause of action
                arose or be forever barred.
            </ion-label>
            <h3>
                19. California Consumer Notice.
            </h3>
            <ion-label>
                As required by California Code Section 1789.3, this notice is to advise You that (a) this App is a service provided by WINWITHSPORTS.NET can be contacted at SUPPORT@WINWITHSPORTS.NET , telephone number 1-833-957-7678, and that (b) the fees and charges
                for the Service vary depending on the particular features and services selected by the User. WINWITHSPORTS.NET reserves the right to change the amount of any fee or charge and to institute new fees or charges, effective on reasonable notice
                to the Users of the Service.
            </ion-label>
            <p>
                If You have a complaint regarding the Service or desire further information on use of the Service, contact WINWITHSPORTS.NET by telephone at 1-833-957-7678. For complaints, You may also contact the Complaint Assistance Unit of the Division of Consumer
                Services of the Department of Consumer Affairs in writing at 400 “R” Street, Sacramento, California 95814 or by telephone at 1-916-445-1254.
            </p>
            <h3>
                20. Entire Agreement.
            </h3>
            <ion-label>
                These Terms and Conditions of Use constitute the entire agreement between the User and WINWITHSPORTS.NET with respect to the subject matter hereof and supersedes and replaces all prior or contemporaneous understandings or agreements, written or oral,
                regarding such subject matter. Any waiver of any provision of the Terms and Conditions of Use, or Privacy Policy will be effective only if in writing and signed by WINWITHSPORTS.NET.
            </ion-label>
            <p>
                THE SECTION TITLES IN THE TERMS OF USE ARE FOR CONVENIENCE ONLY AND HAVE NO LEGAL OR CONTRACTUAL EFFECT.
            </p>
            <p>
                Date Last Modified: NOVEMBER 25, 2018.
            </p>
            <p>
                These Terms and Conditions of Use may be changed at any time, without prior notice.
            </p>
            <p>
                U.S. Citizens Please Note: The information contained at this site is for news and entertainment purposes only.
            </p>
            <p>
                Any use of this information in violation of any federal, state, or local laws is prohibited.
            </p>
            <p>
                All Sales are Final
            </p>
            <p>
                Privacy Policy: Your personal information will never be sold. To anyone. Ever.
            </p>
        </div>
    </div>
</ion-content>