<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngFor="let chat of chats">
        <ion-item lines="none" *ngIf="chat.uid != uid">
            <ion-label class="ion-text-left">
                <p>
                    {{name}}
                </p>
                <h2>
                    <b>
                        {{chat.msg}}
                    </b>
                </h2>
            </ion-label>
        </ion-item>

        <ion-item lines="none" *ngIf="chat.uid == uid">
            <ion-label class="ion-text-right">
                <p>
                    You
                </p>
                <h2>
                    <b>
                        {{chat.msg}}
                    </b>
                </h2>
            </ion-label>
        </ion-item>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-item>
            <ion-input [(ngModel)]="textMsg" placeholder="Type here..." (keyup.enter)="send()"></ion-input>
        </ion-item>
    </ion-toolbar>
</ion-footer>