#background-content {
    background: url("/assets/images/bg-packages@2x-1024x463-1-300x300.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: auto
}

h4 {
    font-family: serif;
}

p {
    font-family: serif;
}

ion-label {
    font-family: serif;
}

h3 {
    font-family: fantasy;
}

ion-content {
    --color: white;
}

ul {
    li {
        font-family: serif;
    }
}