#fondo {
    background: url("/assets/images/bg-data-capture@2x-1024x545-1.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

ion-toolbar {
    --background: #35353500;
}

ion-img {
    display: block;
    width: 75%;
    height: 100%;
    margin: auto;
}

#username {
    ion-item {
        --background: #353535;
        --border-radius: 15px;
        --inner-box-shadow: 4px 4px;
        --inner-padding-bottom: 4px;
        --inner-padding-end: 4px;
        --inner-padding-start: 4px;
        --inner-padding-top: 4px;
    }
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 40px;
    }
}